In [1]:
import requests as rq
from io import BytesIO
import pandas as pd

gen_otp_url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
gen_otp_stock_info_for_request = {
    'searchType':'1',
    'mktId':'ALL',
    'trdDd':20230822,
    'csvxls_isNo':'false',
    'name':'fileDown',
    'url':'dbms/MDC/STAT/standard/MDCSTAT03501'
}

header = {
    "Referer":'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader'
}
otp = rq.post(gen_otp_url, gen_otp_stock_info_for_request, headers=header).text

down_url = 'http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd'
down_stock_data_list = rq.post(down_url, {'code':otp}, headers=header)
stock_data = pd.read_csv(BytesIO(down_stock_data_list.content), encoding='EUC-KR')
stock_data['종목명'] = stock_data['종목명'].str.strip() 
stock_data['기준일'] = 20230822

stock_data.head()

,종목코드,종목명,종가,대비,등락률,EPS,PER,선행 EPS,선행 PER,BPS,PBR,주당배당금,배당수익률,기준일
0,060310,3S,2650,-5,-0.19,33.0,80.30,NaN,NaN,829.0,3.20,0,0.00,20230822
1,095570,AJ네트웍스,4050,-80,-1.94,201.0,20.15,607.0,6.68,8076.0,0.50,270,6.67,20230822
2,006840,AK홀딩스,19270,-140,-0.72,NaN,NaN,NaN,NaN,41948.0,0.46,200,1.04,20230822
3,054620,APS,8790,-2340,-21.02,505.0,17.41,NaN,NaN,10864.0,0.81,0,0.00,20230822
4,265520,AP시스템,18210,-490,-2.62,5463.0,3.33,4149.0,4.39,17980.0,1.01,270,1.48,20230822